<div class="typewriter">
    <img src="https://images.unsplash.com/photo-1579027989536-b7b1f875659b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" width=100% height="700px">
    <div class="top-left">
      <h1><b>Nothing brings people together like good food..!🍔</b></h1>
      <br>
      <div class="floating"> 
        <h3>Reserver your table today!!</h3>
        <br>
        <img style="float:left ;" src=" https://i.pinimg.com/originals/26/cd/60/26cd609483e5dd157bf4dbe279ad6fbe.gif" width=20% height="200px">
        <button class="getquotebtn" (click)='checkSession()' style="background: linear-gradient(to top left, #000000 11%, #9e968f 54%);">Reserve Now</button>
 
  </div>
</div> 
</div>

     
<div class="row d-flex justify-content-center" style="height: 70vh;">
    <div class="col-md-6 d-flex justify-content-center p-0 align-items-center flex-column">

        <br>
        <div class="" >
            <div>
                <h1><b>Book My Table.</b></h1>
                <h4>Weekdays or weekend isn't a problem now!<br> Book your tables in advance<br></h4>
              </div>
            <!-- <input class="getquote" type="text" placeholder="Parking Slot"> -->
            <button class="getquotebtn"(click)='checkSession()' >Reverse Table</button>
        </div>
    </div>
    <div class="col-md-6 d-flex justify-content-center align-items-center">
        <div>
            <img  src="https://image.freepik.com/free-vector/waiters-concept-illustration_114360-2908.jpg" height="350" width="650" alt="">
        </div>
    </div>
</div>




<div class="row d-flex justify-content-center" style="height: 70vh;">
    <div class="col-md-6 d-flex justify-content-center align-items-center">
        <div>
            <img  src="https://image.freepik.com/free-vector/butler-waiter-serving-tray-food_184560-139.jpg" alt="table">
        </div>
    </div>
    <div class="col-md-6 d-flex justify-content-center flex-column">
        <h1><b>How It Works?</b></h1>
        <h4><b>About Table Reservations</b><br>
            Gone are the days when you waited outside a restaurant, paid exorbitantly for a meal and missed out on the best new restaurants in town. With Book my table, restaurants have full control on their restaurant's table management, handle request from customers and receive advance food order requests at the same time.
        </h4>
        <br>
        <div>
            <button class="getquotebtn" (click)='checkSession()'>Book  Now</button>
        </div>
    </div>
</div>
<!-- <div class="row d-flex justify-content-center" style="height: 70vh;">
    <div class="col-md-6 d-flex justify-content-center p-0 align-items-center flex-column">
        
        <br>
        <div class=""> -->
            <!-- <input class="getquote" type="text" placeholder="Parking Slot">
            <button class="getquotebtn"(click)='checkSession()' >Book My Table</button>
        </div>
    </div>
    <div  class="floating" >
        <img style="float:right" src="https://images.squarespace-cdn.com/content/v1/57cc635d46c3c4013750884a/1558386720985-WPJ7ES7UF380ZRG2SY0B/ke17ZwdGBToddI8pDm48kGDpvalPb1SqHoCn1hwN0Y57gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QHyNOqBUUEtDDsRWrJLTmjTeiQ8v2Gi6jnuD7IilWB1aFTl2rN_NJyVfSxiuM_6AwcSnARVzH7DJZbr4wQ8RL/chef.gif" width=20% height="200px"> 
    </div>
</div> -->
<!-- <div class="row">
    <div class="col-md-3 options-primary p-0 d-flex justify-content-center align-items-center flex-column">
        <i class="far fa-money-bill-alt" style="font-size: 60px;margin-bottom: 10px;"></i>
        <p>Economical</p>
    </div>
    <div class="col-md-3 options-secondary p-0 d-flex justify-content-center align-items-center flex-column">
        <i class="fas fa-history" style="font-size: 60px;margin-bottom: 10px;"></i>
        <p>Fast</p>
    </div>
    <div class="col-md-3 options-primary p-0 d-flex justify-content-center align-items-center flex-column">
        <i class="fas fa-user-shield" style="font-size: 60px;margin-bottom: 10px;"></i>
        <p>Easy Booking</p>
    </div>
    <div class="col-md-3 options-secondary p-0 d-flex justify-content-center align-items-center flex-column">
        <i class="fas fa-calendar-alt" style="font-size: 60px;margin-bottom: 10px;"></i>
        <p>24/7</p>
    </div>
    <div class="col-md-3 options-secondary p-0 d-flex justify-content-center align-items-center flex-column">
        <i class="fas fa-calendar-alt" style="font-size: 60px;margin-bottom: 10px;"></i>
        <p>24/7</p>
    </div>
    <div class="col-md-3 options-secondary p-0 d-flex justify-content-center align-items-center flex-column">
        <i class="fas fa-calendar-alt" style="font-size: 60px;margin-bottom: 10px;"></i>
        <p>24/7</p>
    </div>
</div> -->